@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  background-color: var(--fourth-color);
}

:root {
  --first-color: #eba83a;
  --secondary-color: #bb371a;
  --third-color: #fff8d9;
  --fourth-color: #d5dbb3;
}

html,
body {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  width: 100%;
}

.row::after {
  clear: both;
  content: "";
  box-sizing: border-box;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.login-items {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: 0 auto;
  border: solid var(--first-color) 1px;
  padding: 80px;
  box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
  background-color: var(--fourth-color);
}
.inputL {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 0.7rem;
  color: var(--first-color);
  font-size: 15px;
  font-weight: bold;
}
.signup-items {
  clear: both;
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: 0 auto;
  border: solid var(--first-color) 1px;
  padding: 80px;
  border-radius: 0.7rem;
  /* box-shadow: 12px 12px 10px 1px rgba(20, 20, 26, 0.2); */
  background-color: var(--fourth-color);
}
.input {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  border-radius: 0.7rem;
  border: 1px solid var(--secondary-color);
  color: var(--first-color);
  font-size: 15px;
  font-weight: bold;
}
.signinSignupButton {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--first-color);
  border: none;
  border-radius: 0.7rem;
  /* box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2); */
  color: white;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.signinSignupButton:hover {
  background-color: var(--secondary-color);
}
.pointer {
  cursor: pointer;
}

::placeholder {
  color: var(--first-color);
  font-size: 15px;
}
p {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 361px) {
  .signup-items {
    clear: both;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    border: solid var(--first-color) 1px;
    padding: 40px;
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
  }
  .login-items {
    clear: both;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    border: solid var(--first-color) 1px;
    padding: 40px;
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
    background-color: var(--fourth-color);
  }
}
@media (max-width: 720px) {
  .signup-items {
    clear: both;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    border: solid var(--first-color) 1px;
    padding: 40px;
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
  }
  .login-items {
    clear: both;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    border: solid var(--first-color) 1px;
    padding: 40px;
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
    background-color: var(--fourth-color);
  }
}
@media (max-width: 1100px) {
  .signup-items {
    clear: both;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    border: solid var(--first-color) 1px;
    padding: 40px;
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
  }
  .login-items {
    clear: both;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    border: solid var(--first-color) 1px;
    padding: 40px;
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
    background-color: var(--fourth-color);
  }
}
@media (min-width: 1100px) {
  .signup-items {
    clear: both;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
    border: solid var(--first-color) 1px;
    padding: 40px;
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
  }
  .login-items {
    clear: both;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
    border: solid var(--first-color) 1px;
    padding: 40px;
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
    background-color: var(--fourth-color);
  }
}
.signup {
  clear: both;
  color: var(--first-color);
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.login {
  clear: both;
  color: var(--first-color);
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.dontHaveAnAcc {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: 15px auto;
  border: solid var(--first-color) 1px;
  padding: 40px;
  box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
  background-color: var(--fourth-color);
  text-align: center;
}
.dontHaveAnAcc a {
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
  text-decoration: none;
}
.dontHaveAnAcc h1 {
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--first-color);
}

.haveanAcc {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: 15px auto;
  border: solid var(--first-color) 1px;
  padding: 40px;
  box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
  background-color: var(--fourth-color);
  text-align: center;
}
.haveanAcc a {
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
  text-decoration: none;
}
.haveanAcc h1 {
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--first-color);
}

/* Home Page */
#home_page {
  clear: both;
}

#home_page div.fast_description {
  clear: both;
  width: calc(100% - 10px);
  background: var(--third-color);
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 2px;
}

#home_page #choose_city h3 {
  text-shadow: 1px 1px black;
  color: var(--secondary-color);
  font-size: 35px;
  text-align: center;
}

#home_page #choose_city {
  text-align: center;
}

/* #home_page img[alt="hamburger"] {
  width: 350px;
  border-radius: 0.5rem;
  box-shadow: -5px -1px 10px black;
  display: flex;
  position: fixed;
  bottom: 2px;
  left: 15%;
} */

#home_page img[alt="hamburger"] {
  width: 350px;
  border-radius: 0.5rem;
  box-shadow: -5px -1px 10px black;
  /* display: flex;
  position: fixed;
  bottom: 2px;
  left: 15%; */
  margin: 0 auto;
  display: block;
  text-align: center;
}

#home_page img[alt="burrito"] {
  width: 180px;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px black;
  display: none;
}

#home_page #choose_city button.city_selectable {
  text-align: left;
  padding: 10px 3%;
  width: 60%;
  display: block;
  margin: 7px auto;
  background: var(--first-color);
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 22px;
  transition: 0.5s;
  font-weight: bold;
  border-radius: 0.2rem;
}

#home_page #choose_city button.city_selectable:hover {
  background: var(--secondary-color);
  color: var(--first-color);
}

#home_page .clickbait .row {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

#home_page .clickbait .row .clickbait_item {
  padding: 4px;
}

#home_page .clickbait .row .clickbait_item:nth-child(2) {
  border-right: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
}

#home_page .clickbait .row .clickbait_item i {
  color: var(--first-color);
  font-size: 50px;
  display: block;
}

#home_page .clickbait .row .clickbait_item label {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
}

/*drini*/
nav#navbar {
  padding: 0;
  margin: 0;
  border-bottom: 4px solid var(--secondary-color);
  border-radius: 0.07rem;
  background-color: var(--first-color);
}

nav#navbar .container {
  display: block;
  width: 100%;
  clear: both;
}

nav#navbar .container .logo {
  clear: both;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 0.3rem;
}

nav#navbar .container a {
  text-decoration: none;
}

nav#navbar .container .logo span {
  color: var(--secondary-color);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-family: "Dela Gothic One", cursive;
}

nav#navbar .container i.bar_icon {
  position: absolute;
  right: 2rem;
  top: 1rem;
  background: var(--fourth-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  border-radius: 0.2rem;
  padding: 5px 10px;
  float: right;
  transition: 300ms;
  cursor: pointer;
  clear: both;
}

nav#navbar .container i.bar_icon:hover {
  background: var(--secondary-color);
  color: var(--third-color);
}

nav#navbar ul.navbar_ul_items {
  padding: 0;
  margin: 0;
  width: 90%;
  margin: 0 auto;
  display: none;
  clear: both;
}
nav#navbar ul.navbar_ul_items li {
  width: 100%;
  margin-bottom: 5px;
  list-style-type: none;
}

nav#navbar ul.navbar_ul_items li.active a {
  background-color: var(--secondary-color);
  color: var(--fourth-color);
}

nav#navbar ul.navbar_ul_items li a {
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid var(--secondary-color);
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  display: block;
  padding: 1rem;
  padding-left: 40%;
}

nav#navbar ul.navbar_ul_items li a:hover {
  background: var(--secondary-color);
  color: var(--third-color);
}

/* Rreth Nesh */
#about_us_section {
  clear: both;
}
#about_us_section .container {
  width: 90%;
  margin: 0 auto;
}
#about_us_section .title {
  text-align: center;
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: "Dela Gothic One", cursive;
  letter-spacing: 1px;
}

#about_us_section p {
  /* font-family: "Poppins", sans-serif; */
  padding: 0 20px;
  font-family: sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1.2rem;
  width: 95%;
  text-align: justify;
}

/* #about_us_section #ratings .rating {
  display: flex;
  width: 100%;
  margin-top: 10px;
  background: var(--first-color);
  padding: 7px 10px;
  text-align: center;
  align-items: center;
}

#about_us_section #ratings .rating .rating_stars {
  float: right;
  position: absolute;
  left: 80%;
}

#about_us_section #ratings .rating span.rater_date {
  float: left;
  position: absolute;
  left: 45%;
} */

#about_us_section #ratings table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--secondary-color);
}

#about_us_section #ratings tr:nth-child(odd) {
  background: var(--third-color);
}

#about_us_section #ratings tr:nth-child(even) {
  background: var(--first-color);
}

#about_us_section #ratings th {
  border: 2px solid var(--secondary-color);
}

/* Dashboard */
div.dashboard div.menu {
  display: none;
}
div.dashboard div.main .dashboard_categorie_change_text {
  color: var(--secondary-color);
  padding-left: 5px;
  font-weight: 1000;
  text-align: center;
}

div.dashboard div.main h2 select.dashboard_categorie_change_select {
  font-size: 20px;
  width: 80%;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  color: var(--secondary-color);
  background: var(--first-color);
  font-weight: bold;
  font-family: "Dela Gothic One", cursive;
  border: 2px solid var(--secondary-color);
  border-radius: 0.1rem;
}

div.dashboard
  div.main
  .content
  section.dashboard_categorie
  h1.dashboard_section_title {
  text-align: center;
  color: var(--secondary-color);
  font-family: "Dela Gothic One", cursive;
  font-size: 2em;
}
div.dashboard #products #formChange-div,
div.dashboard #products #editProfile-div,
div.dashboard #products #add-form-div,
div.dashboard #products .dashboard_section_title#add_products_section_title {
  display: none;
}

div.dashboard #products #add-form input.input-form,
div.dashboard #products #add-form select,
div.dashboard #products #add-form button {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  padding: 7px 5px;
  font-size: 1em;
  background: var(--first-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 0.1rem;
  font-weight: bold;
}

div.dashboard #products #add-form select,
div.dashboard #products #add-form button {
  background: var(--fourth-color);
  color: var(--secondary-color);
}

div.dashboard #products #add-form button {
  transition: 500ms;
  background: var(--secondary-color);
  color: var(--first-color);
  cursor: pointer;
}

div.dashboard #products #add-form button:hover {
  background: green;
  color: white;
  border: 2px solid lightgreen;
}

div.dashboard #products #add-form input.input-form::placeholder {
  color: var(--secondary-color);
}

div.dashboard #products table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--fourth-color);
  border-radius: 0.1rem;
}

div.dashboard #products table th,
div.dashboard #products table td {
  min-width: 180px;
  max-width: 200px;
  text-align: center;
  font-size: 1.3rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.1rem;
  color: var(--secondary-color);
  font-weight: bold;
  padding: 8px;
}

div.dashboard #products table tr:nth-child(odd) {
  background-color: var(--third-color);
}

div.dashboard #products table tr:nth-child(even) {
  background-color: var(--first-color);
}

div.dashboard #products table th .view_product_edit_component {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  padding: 5px 7px;
  border: 2px solid var(--secondary-color);
  background: var(--fourth-color);
  color: var(--secondary-color);
  font-weight: bold;
}

div.dashboard #products table th select {
  width: 99%;
}

div.dashboard #products table th button.delete_product,
div.dashboard #products table th button.edit_product {
  background: var(--secondary-color);
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid var(--fourth-color);
  border-radius: 0.1rem;
  text-align: center;
  width: 100%;
  color: var(--fourth-color);
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

div.dashboard #products table th button.edit_product {
  background: var(--fourth-color);
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}
div.dashboard button#add_product_toggler {
  width: 70%;
  display: block;
  font-size: 1.5rem;
  width: 50%;
  border-radius: 0.3rem;
  padding: 15px;
  margin: 30px auto;
  background: var(--first-color);
  border: 2px solid var(--secondary-color);
  font-weight: bold;
  color: var(--secondary-color);
  cursor: pointer;
  transition: 300ms;
}
div.dashboard button#edit_profile_toggler,
div.dashboard button#edit_password_toggler {
  display: inline-block;
  font-size: 1.5rem;
  width: 49%;
  border-radius: 0.3rem;
  padding: 15px;
  margin: 30px auto;
  background: var(--first-color);
  border: 2px solid var(--secondary-color);
  font-weight: bold;
  color: var(--secondary-color);
  cursor: pointer;
  transition: 300ms;
}
div.dashboard button#edit_profile_toggler:hover,
div.dashboard button#edit_password_toggler:hover,
div.dashboard button#add_product_toggler:hover {
  background: var(--secondary-color);
  color: var(--first-color);
}

div.dashboard .menu div#menu_actions button.active_action {
  background: var(--third-color) !important;
  color: var(--first-color) !important;
}
/* Admin Dashboard */

div.dashboard#admin_dashboard .menu {
  padding-top: 5%;
  max-height: 100%;
}

div.dashboard#admin_dashboard .menu h1.menu_title {
  color: var(--secondary-color);
  font-weight: bolder;
}

div.dashboard#admin_dashboard .menu div#menu_actions {
  padding-top: 15%;
}

#pending_businesses div.display_businesses {
  overflow-x: auto;
}

#pending_businesses div.display_businesses table {
  width: 100%;
  margin: 0 auto;
}

#pending_businesses div.display_businesses table th {
  min-width: 110px;
  max-width: 200px;
  text-align: center;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.1rem;
  color: var(--secondary-color);
  font-weight: bold;
  padding: 8px;
}

#pending_businesses div.display_businesses table tr:nth-child(odd) {
  background-color: var(--third-color);
}

#pending_businesses div.display_businesses table tr:nth-child(even) {
  background-color: var(--first-color);
}

#pending_businesses
  div.display_businesses
  table
  th
  button.pending_business_action {
  font-size: 1.3rem;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

#pending_businesses div.display_businesses table th button#deny_business {
  background: red;
  color: white;
}

#pending_businesses div.display_businesses table th button#approve_business {
  background: green;
  color: white;
}

#approved_businesses div.display_approved_businesses table th select {
  width: 90%;
  font-size: 1rem;
  padding: 5px 7px;
  background: var(--secondary-color);
  color: var(--first-color);
  font-weight: bold;
  border: none;
}

/* approved businesses */

#approved_businesses div.display_approved_businesses {
  overflow-x: auto;
}

#approved_businesses div.display_approved_businesses table {
  width: 100%;
  margin: 0 auto;
}

#approved_businesses div.display_approved_businesses table th {
  min-width: 110px;
  max-width: 200px;
  text-align: center;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.1rem;
  color: var(--secondary-color);
  font-weight: bold;
  padding: 8px;
}

#approved_businesses div.display_approved_businesses table tr:nth-child(odd) {
  background-color: var(--third-color);
}

#approved_businesses div.display_approved_businesses table tr:nth-child(even) {
  background-color: var(--first-color);
}
#approved_businesses
  div.display_approved_businesses
  table
  th
  button.delete_business_action {
  font-size: 1.3rem;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
}
#approved_businesses
  div.display_approved_businesses
  table
  th
  button#delete_business {
  background: red;
  color: white;
}

.inboxMessageForm {
  width: 50%;
  text-align: center;
  margin: 30px auto;
  display: none;
}

.inboxMessageForm form {
  text-align: center;
}

.inboxMessageForm h3 {
  color: var(--secondary-color);
  font-size: 25px;
}

.inboxMessageForm input::placeholder,
.inboxMessageForm textarea::placeholder {
  color: var(--secondary-color);
}

.inboxMessageForm input,
.inboxMessageForm textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  border: 1px solid var(--secondary-color);
  background: var(--first-color);
  color: var(--secondary-color);
  margin-top: 5px;
  border-radius: 0.1rem;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bolder;
}

.inboxMessageForm textarea {
  font-weight: bolder;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  transition: none;
}

.inboxMessageForm button {
  display: inline-block;
  background: var(--secondary-color);
  color: var(--first-color);
  border: none;
  width: 100%;
  padding: 5px;
  transition: .3s;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
}

.inboxMessageForm button:hover {
  background: var(--third-color);
  color: var(--secondary-color);
}

/* Responsive */
@media (min-width: 1024px) {
  nav#navbar .container {
    width: 90%;
    margin: 0 auto;
  }
  nav#navbar .container .logo {
    width: 40%;
  }
  nav#navbar .container i.bar_icon {
    display: none;
  }
  nav#navbar ul.navbar_ul_items {
    float: right;
    display: inline;
    width: 60%;
    position: relative;
    left: 1rem;
    top: -3rem;
  }
  nav#navbar ul.navbar_ul_items li {
    /* flex: 5px 10px auto; */
    margin-bottom: 5px;
    list-style-type: none;
    float: left;
    text-align: center;
    margin-right: 10px;
  }
  nav#navbar ul.navbar_ul_items li a {
    padding: 0.5rem;
  }
  .dashboard #products div.container {
    width: 98%;
    margin: 0 auto;
  }
  div.dashboard button#add_product_toggler {
    display: block;
    font-size: 1.7rem;
    width: 20%;
    border-radius: 0.3rem;
    padding: 5px 7px;
    margin: 50px auto;
    background: var(--first-color);
    border: 2px solid var(--secondary-color);
    font-weight: bold;
    color: var(--secondary-color);
  }
  div.dashboard #products #add-form input.input-form,
  div.dashboard #products #add-form select,
  div.dashboard #products #add-form button {
    width: 50%;
  }
  div.dashboard #products table {
    border-collapse: separate;
  }

  #about_us_section .title {
    width: 100%;
    text-align: center;
    letter-spacing: normal;
  }

  #about_us_section > div.container {
    width: 50%;
  }

  #about_us_section #ratings .rating .rating_stars {
    left: 66%;
  }

  #home_page #choose_city button.city_selectable {
    width: 30%;
  }

  #home_page #choose_city {
    margin-top: -15px;
  }

  #home_page .clickbait .row {
    width: 60%;
    margin: 50px auto;
  }

  #home_page img[alt="hamburger"] {
    width: 350px;
    border-radius: 0.5rem;
    box-shadow: -5px -1px 10px black;
    display: flex;
    position: fixed;
    bottom: 180px;
    right: -50px;
  }
  #home_page img[alt="burrito"] {
    display: flex;
    position: fixed;
    top: 15%;
    left: 50px;
  }

  .inboxMessageForm input,
  .inboxMessageForm textarea,
  .inboxMessageForm button {
    max-width: 50%;
    min-width: 50%;
  }
}
@media (min-width: 1366px) {
  #pending_businesses div.display_businesses table {
    width: 95%;
  }
  nav#navbar ul.navbar_ul_items {
    left: 6rem;
  }
  nav#navbar .container {
    width: 80%;
    margin: 0 auto;
  }
  div.dashboard div.main .dashboard_categorie_change_text {
    display: none;
  }
  div.dashboard button#add_product_toggler {
    width: 30%;
  }
  div.dashboard div.main {
    width: 73%;
    float: right;
  }
  div.dashboard div.menu {
    display: block;
    text-align: center;
    height: 100vh;
    padding: 5px 7px;
    width: 25%;
    float: left;
    border-right: 2px solid var(--secondary-color);
  }
  div.dashboard div.menu #company_info_name {
    color: var(--secondary-color);
    font-size: 2rem;
  }
  div.dashboard div.menu span.company_info_component {
    color: var(--secondary-color);
    font-weight: bolder;
    display: block;
    padding-top: 10px;
  }
  div.dashboard div.menu span.company_info_component label {
    display: inline-block;
    width: 195px;
    text-align: left;
    font-size: 1.3rem;
  }
  div.dashboard
    div.menu
    span.company_info_component
    label.company_info_component_holder {
    text-align: justify;
  }
  div.dashboard
    div.menu
    span.company_info_component
    label.company_info_component_holder:after {
    content: ":";
  }
  div.dashboard div.menu div#menu_actions button.menu_actions_btn {
    width: 80%;
    padding: 1rem;
    font-size: 1.4rem;
    margin-top: 10px;
    color: var(--secondary-color);
    background: var(--first-color);
    border: 2px solid var(--secondary-color);
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
    text-align: left;
  }
  div.dashboard div.menu div#menu_actions button.menu_actions_btn:hover {
    background: var(--third-color);
  }
  div.dashboard div.menu img {
    border-radius: 50%;
    border: 2px solid var(--first-color);
  }
  #about_us_section > div.container {
    width: 40%;
  }

  #ratings > div.rating {
    width: 80%;
  }
  #home_page #choose_city button.city_selectable {
    width: 20%;
    padding: 10px 5%;
  }

  .inboxMessageForm input,
  .inboxMessageForm textarea,
  .inboxMessageForm button {
    max-width: 60%;
    min-width: 60%;
  }
}

@media (min-width: 1500px) {
  #about_us_section #ratings .rating span.rater_date {
    left: 47%;
  }

  #home_page img[alt="hamburger"] {
    bottom: 0;
    right: 0;
    position: absolute;
  }

  #home_page .clickbait .row .clickbait_item i {
    font-size: 100px;
  }

  #home_page .clickbait .row .clickbait_item label {
    font-size: 25px;
  }
  #home_page #choose_city button.city_selectable {
    width: 15%;
    padding: 10px 1%;
  }
}

@media (min-width: 1920px) {
  nav#navbar .container {
    width: 70%;
    margin: 0 auto;
  }
  nav#navbar ul.navbar_ul_items {
    left: 5rem;
  }
  div.dashboard #products #add-form input.input-form,
  div.dashboard #products #add-form select,
  div.dashboard #products #add-form button {
    width: 40%;
    font-size: 1.3rem;
  }
  #pending_businesses div.display_businesses table {
    width: 85%;
  }

  .inboxMessageForm input,
  .inboxMessageForm textarea,
  .inboxMessageForm button {
    max-width: 40%;
    min-width: 40%;
  }
}
.changePasswordTxt {
  color: var(--secondary-color);
  /*font-weight: bold;*/
  font-family: "Dela Gothic One", cursive;
  font-size: 30px;
}
.labelTxtChangePassword,
.labelTxtEditProfile {
  font-family: "Dela Gothic One", cursive;
  font-size: 20px;
  color: var(--first-color);
  margin-top: 10px;
  margin: 0 auto;
}
.inputChangePassword,
.inputEditProfile {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10px;
  border: none;
}
.changeBtn {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 9%;
  padding-right: 9%;
  margin-top: 10px;
  background-color: var(--first-color);
  border: none;
  color: white;
}
.changeBtn:hover {
  background-color: var(--secondary-color);
}
.errorMessageChangePassword {
  color: var(--secondary-color);
  /*font-weight: bold;*/
  font-family: "Dela Gothic One", cursive;
  font-size: 20px;
}
.formChange {
  width: 100%;
  text-align: center;
}
#editProfile-div {
  width: 100%;
  text-align: center;
}
.delete_product_action {
  font-size: 1.3rem;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: red;
  color: white;
}
.formChange {
  width: 100%;
  text-align: center;
}
#fetchval {
  background-color: var(--first-color);
  padding: 8px;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
.spanFiltro {
  color: var(--secondary-color);
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Dela Gothic One", cursive;
}
.delete_product_action {
  font-size: 1.3rem;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: red;
  color: white;
}
#fetchval,
#fetchvalue {
  background-color: var(--first-color);
  padding: 8px;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
.spanFiltro {
  color: var(--secondary-color);
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Dela Gothic One", cursive;
}
.product-form{
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding-right: auto;
  padding-left: auto;
}
.card{
  margin: 0 auto;
  float: none;
  max-width: 400px !important;
  height: auto !important;
  margin-top: 30px;
  margin-bottom: 30px;
  border:solid black 1px;
}
.card-text{
  padding-left: 7px;
}
.btnSearch{
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--secondary-color);
  color: white;
  border:none;
}
.card img{
  width: 200% !important;
  height: 200px !important;
}
/* PAGINATION */
.pagination{
  overflow:hidden;
  /*background:$wht;*/
  border-radius: 5px;
  box-shadow:0 0 20px 0 rgba(#000,0.05);
  font-size:1.5em;
  display: flex;
  position: relative;
  user-select: none;
}
.nav-btn{
  font-weight: 900;
  display: inline-block;
  padding:18px 24px;
  z-index: 2;
  cursor:pointer;
  transition:all 300ms ease;
} 
.pagination{
  display: block;
  text-align: center;
}
.pagination .nav-pages {
  margin: 0;
  padding: 0;
  left: 0;
}
.pagination .nav-pages li {
  font-size: 15px;
  font-weight: 800;
  list-style: none;
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid var(--secondary-color) ;
  color: var(--secondary-color);
  text-align: center;
  cursor: pointer;
}
.pagination li{
      list-style:none;
      display:inline-block;
      padding:18px 10px;
      border-right:1px solid #eee;
      text-align: center;
      cursor:pointer;
      text-decoration: none;
}
.pagination li a{
  text-decoration: none;
  color: var(--secondary-color);
}
.pagination li.active {
  background-color: var(--first-color);
  color: var(--secondary-color);
}
